<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field form-group">
    <%= f.label :price_min %><br>
    <%= f.text_field :price_min %>
  </div>
  <div class="field form-group">
    <%= f.label :price_max %><br>
    <%= f.text_field :price_max %>
  </div>
  <div class="field form-group">
    <%= f.label :price_retail %><br>
    <%= f.text_field :price_retail %>
  </div>
  <div class="field form-group">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field form-group">
    <div class="actions btn btn-danger">
      <%= f.submit %>
    </div>
    <div class="actions btn btn-primary">
      <%= f.submit %>
    </div>
  </div>
<% end %>
