<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :url, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :url, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_area :description, rows: 3, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :price_min, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :price_min, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :price_max, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :price_max, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :price_retail, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :price_retail, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :type, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :type, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :year, :class =>"col-xs-2 col-form-label" %><br>
    <div class="col-xs-12">
      <%= f.text_field :year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= button_tag "Cancel", :class => "btn btn-danger", :type => 'cancel', :name => 'cancel' %>
    <%= button_tag "Submit", :class => "btn btn-primary", :type => 'submit', :name => 'submit' %>
  </div>
<% end %>
