<%= will_paginate @products %>

<table class="table">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th>Name</th>
      <th class="text-center">Price min</th>
      <th class="text-center">Price max</th>
      <th class="text-center">Price retail</th>
      <th class="text-center">Type</th>
      <th class="text-center">Varietal(Year)</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="product-row" data-product-id="<%= product.id %>">
        <td><i class="fa fa-plus" aria-hidden="true"></i></td>
        <td><%= product.name %></td>
        <td class="text-center">$<%= number_with_precision(product.price_min, :precision => 2) %></td>
        <td class="text-center">$<%= number_with_precision(product.price_max, :precision => 2) %></td>
        <td class="text-center">$<%= number_with_precision(product.price_retail, :precision => 2) %></td>
        <td class="text-center"><%= product.type %></td>
        <td class="text-center"><%= product.year %></td>
        <td class="text-center">
          <%= link_to edit_product_path(product) do %>
              <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to product, :method => :delete, :data => { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
      </tr>
      <tr id="product-row-<%= product.id %>" class="product-row-details" style="display: none;">
        <td colspan="20">
          <div id="product-deets-url-<%= product.id %>" class="product-row-deets-slider">
            URL: <%= link_to product.url %>
          </div>
        </td>
      </tr>
      <tr id="product-row-<%= product.id %>" class="product-row-details" style="display: none;">
        <td colspan="20">
          <div id="product-deets-description-<%= product.id %>" class="product-row-deets-slider">
            Description: <%= product.description.html_safe %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<tr class="library-item-header">
    <td class="library-item-title" style="cursor: pointer;"> <a href="#" entry_id="123" class="toggle_dropdown">Click</a>

    </td>
</tr>
<tr id="library-edit-dropdown-123" class="library-edit-dropdown" style="display: none;">
    <td colspan="4">
        <div class="library-dropdown-animation" id="library-edit-animation-123">TEST</div>
    </td>
</tr>

<%= will_paginate @products %>
